/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table.balance {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 2px solid black;
}

table.balance th {
	border: 2px solid white;
	font-weight: bold;
	background-color: #66CCFF;
	padding: 4px;
	text-align: left;
}

form label {
	font-weight: bold;
	color: #003399;
}

form div {
	margin-bottom: 10px;
}
